.stack {
  &__root { display: flex; }
  &--row { flex-direction: row; }
  &--column { flex-direction: column; }
  &--gap-none { gap: var(--lm-spacing-none); }
  &--gap-xs { gap: var(--lm-spacing-xs); }
  &--gap-sm { gap: var(--lm-spacing-sm); }
  &--gap-md { gap: var(--lm-spacing-md); }
  &--gap-lg { gap: var(--lm-spacing-lg); }
  &--gap-xl { gap: var(--lm-spacing-xl); }
  &--gap-xxl { gap: var(--lm-spacing-xxl); }
  &--align-start { align-items: flex-start; }
  &--align-center { align-items: center; }
  &--align-end { align-items: flex-end; }
  &--align-stretch { align-items: stretch; }
  &--justify-start { justify-content: flex-start; }
  &--justify-center { justify-content: center; }
  &--justify-end { justify-content: flex-end; }
  &--justify-between { justify-content: space-between; }
  &--wrap { flex-wrap: wrap; }
}
