.textfield {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--lm-spacing-xs);
  }
  &--fullWidth {
    width: 100%;
  }
  &__label {
    font-size: var(--lm-typography-body1-font-size);
    font-weight: 500;
    color: var(--lm-color-on-surface);
  }
  &__inputContainer {
    display: flex;
    align-items: center;
    border: 1px solid var(--lm-color-outline);
    border-radius: var(--lm-shape-xs);
    padding: var(--lm-spacing-xs);
    gap: var(--lm-spacing-xs);
    transition: var(--lm-motion-duration-short);
    &:focus-within {
      border-color: var(--lm-color-primary);
    }
  }
  &__inputContainer--error {
    border-color: var(--lm-color-error);
  }
  &__input {
    border: none;
    outline: none;
    flex: 1;
    font-size: var(--lm-typography-body1-font-size);
    background: transparent;
    color: var(--lm-color-on-surface);
  }
  &__icon {
    display: flex;
    align-items: center;
  }
  &__helperText {
    font-size: var(--lm-typography-caption-font-size);
    color: var(--lm-color-on-surface);
    opacity: 0.7;
  }
  &__errorText {
    font-size: var(--lm-typography-caption-font-size);
    color: var(--lm-color-error);
  }
}
