.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;

    transition: all 0.2s ease;
}

/* VARIANTS */
.primary {
    background: green;
    color: white;
}

.primary:hover {
    opacity: 0.9;
}

.secondary {
    background: var(--color-secondary);
    color: white;
}

.ghost {
    background: transparent;
    color: var(--color-primary);
}

/* SIZES */
.sm {
    padding: 6px 10px;
    font-size: 12px;
}

.md {
    padding: 10px 16px;
    font-size: 14px;
}

.lg {
    padding: 14px 20px;
    font-size: 16px;
}

/* FULL WIDTH */
.fullWidth {
    width: 100%;
}

/* STATES */
.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* ICONS */
.icon {
    display: inline-flex;
}

.loader {
    font-size: 12px;
    opacity: 0.8;
}